<div class="row">
    <div class="col text-center">
        <img src="img/sunny.jpg" class="img-thumbnail rounded-circle" width="200" alt="Profile Picture">
        <h1 class="display-4">Azisya Luthfi Bintang</h1>
        <p class="lead">Stundet | Please Die</p>
    </div>
</div>